$gradient-color: linear-gradient(
  90deg,
  #fe0000,
  #f71f1f,
  #e75353,
  #f71f1f,
  #fe0000,
  #f71f1f
);
.image-hero {
  height: 100vh;
  width: 100%;
}
.main {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  min-height: 120vh;
  z-index: -1;
  // position: fixed;
  background-image: linear-gradient(
    0deg,
    rgba(145, 9, 10, 1) 0%,
    rgba(20, 20, 20, 1) 80%
  );
}
.ss-title {
  // font-weight: 900;
  font-size: 2rem;
  color: white;
  padding-bottom: 30px;
  letter-spacing: 5px;
  // padding-top: 50px;
  font-family: "SpacePowerDemoRegular";
}
.main-inner-div {
  min-width: 300px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding: 10px;
  padding-top: 90px;
  margin-bottom: 130px;
}
.cover-img {
  width: 200px;
  height: 200px;
}
.card-title {
  text-align: justify;
  font-family: "FontsFree-Net-Poppins-Regular";
  padding: 10px;
}
.card-title > h1 {
  text-align: inherit;
  font-family: "FontsFree-Net-Poppins-Regular";
}
.card-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
}
.main-card {
  display: flex;
  padding: 20px;
  background-color: rgba(35, 35, 35, 0.5);
  border-radius: 5px;
  border-radius: none;
  // box-shadow: 20px 30px 25px rgb(0, 0, 0 / 15%);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  align-items: flex-start;
}
.date-time-sc {
  flex-direction: row;
  padding-top: 20px;
  white-space: nowrap;
  font-family: "FontsFree-Net-Poppins-Regular";
}
.book-button {
  background: $gradient-color;
  border: none;
  font-family: "FontsFree-Net-Poppins-Regular";
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}
